
 <div *ngFor="let mobiles of webService.products | async"> 
<div class="body">
       
       
            <div class="grid-container">
            <div style="width:10em;">
                    <h2>{{mobiles.Name}}</h2>
                    <h4>Brand : {{mobiles.Brand}}</h4>
                    <img src={{mobiles.url}}/>
                    <h3>Price : {{mobiles.price}}</h3>
                    <button class="button" *ngIf="!webService.isInCart(mobiles) " (click)="addToCart(mobiles)">Add to cart</button>
                    <button class="button" *ngIf="!webService.isInWishlist(mobiles) " (click)="addToWishlist(mobiles)">Add to wishlist</button>
            </div>
            <div style="font-size: 1em">
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    Product Description
                    The Samsung Galaxy J6 is here, with its virtually continuous Bezel-free Screen, to make work and entertainment seem even more appealing. And, while you revel in your favorite show, you can simultaneously chat with your loved ones without having to switch screens and disturb your viewing experience.
                    
                    Infinity Display - Super AMOLED Infinity Display
                    It delivers stunning color reproduction and offers deep contrasts to enliven every visual on screen. There’s more in store for you as the 18.5:9 display ratio brings you more area for a wonderful viewing experience.
                    
                    
                    Infinity Design - Bezel-free Design
                    Enjoy your favorite media content and games on this phone’s virtually continuous Bezel-free Screen. Its curved edges add more impact to your overall viewing experience. It also has a Fingerprint Sensor located at the back to help you get a better grip of this beautiful piece.
                    
            </div>
                
            </div>
        </div>
</div>




